<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
    <%#
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul> %>

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/news">News</a>
            <a class = "login" href="/login">Login</a>
        </div>

    </div>

</div>
</nav>