<!-- views/partials/signIn.ejs -->

<!-- popup for sign in form -->
<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="small-dialog1" class="mfp-hide book-form">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Sign In </h3>
                    <form action="/" >
                        <input type="email" name="Email" class="email" placeholder="Email" required=""/>
                        <input type="password" name="Password" class="password" placeholder="Password" required=""/>    
                        <ul>
                        <li>
                            <input type="checkbox" id="brand1" value="">
                            <label for="brand1"><span></span>Remember me</label>
                        </li>
                        </ul>
                        <a href="/forgot">Forgot Password?</a><br>
                        <div class="clearfix"></div>
                            <input type="submit" value="Get Started">
                    </form>
            </div>
        </div>
    </div>
</div>
<!-- //popup for sign in form -->
