<!-- views/partials/uploadForm.ejs -->

<!-- popup for upload up form -->
<div class="modal video-modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="small-dialog2" class="mfp-hide book-form">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Upload form</h3>
                    <form action="/">
                        <div class="select-block1">
                            <select required="">
                                <option value="">Title*</option>
                                <option value="">Mr.</option>
                                <option value="">Ms.</option>
                           </select>
                        </div>
                        <input type="text" name="Name" placeholder="Your Name" required=""/>
                        <input type="email" name="Email" class="email" placeholder="Email" required=""/>
                        <input type="text" name="phone" class="phone" placeholder="Phone Number" required=""/>
                        <div class="select-block1">
                            <select required="">
                                <option value="">Course type*</option>
                                <option value="">Diploma</option>
                                <option value="">Full time</option>
                                <option value="">Part time</option>
                                <option value="">Higher degree</option>
                                <option value="">Graduate</option>
                                <option value="">Pg</option>
                                <option value="">Degree</option>
                            </select>
                        </div>
                        <input type="tel" name="code" class="code" placeholder="Postal Code" required=""/>
                        <div class="select-block1">
                            <select>
                                <option value="">Country*</option>
                                <option value="">Japan</option>
                                    <option value="">Kenya</option>
                                    <option value="">Dubai</option>
                                    <option value="">Italy</option>
                                    <option value="">Greece</option> 
                                    <option value="">Iceland</option> 
                                    <option value="">China</option> 
                                    <option value="">Doha</option> 
                                    <option value="">Irland</option> 
                                    <option value="">Srilanka</option> 
                                    <option value="">Russia</option> 
                                    <option value="">Hong Kong</option> 
                                    <option value="">Germany</option>
                                    <option value="">Canada</option>  
                                    <option value="">Mexico</option> 
                                    <option value="">Nepal</option>
                                    <option value="">Norway</option> 
                                    <option value="">Oman</option>
                                    <option value="">Pakistan</option>  
                                    <option value="">Kuwait</option> 
                                    <option value="">Indonesia</option>  
                                    <option value="">Spain</option>
                                    <option value="">Thailand</option>  
                                    <option value="">Saudi Arabia</option> 
                                    <option value="">Poland</option> 
                            </select>
                          </div>
                        <input type="submit" value="Submit">
                    </form>
            </div>
        </div>
    </div>
</div>
<!-- //popup for upload up form -->