<!-- views/news.ejs -->

<!DOCTYPE html>
<html>
    <head>
         <title>News</title>
         <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <div class= "darken">
        <div class = "newspage">
        <!--the meat of the page-->
        <h1 class = "newsheader">News</h1>

        <h2 class = "subheading">Whats New With the Site</h2>

        <h4 class = "padpage"> 17.4.2018 Functionality Update</h4>
            <div class = padpage>
            <p>The site is Live; Links galore!!!</p>
            <p>Navbar with search bar has been added.</p>
            <p>Links to Home, About Us and News.</p>
            <p>Log In/Sign Up functionality being worked on; some functionality has been added</p>
            <p>We are working round the clock to improve the way this site looks and feels.</p>
            <p>Back end work scheduled soon, check back in a week or two to see our progress!!</p>
            </div>

            <h2 class = "padpage">The Adventures of the Web Enterpreneurs</h2>

            <p class = "padpage">Currently we are working hard to bring you this content sharing website. Challenges are present but we will deliver on our promise of providing a platform for teachers to chare their content for a brighter tomorrow.
            </p>
            <p class = "padpage">Once we are done with fully developing this website, We'll update this section with all things related to us.</p>

            <h2 class = "padpage">Inspiration from around the World </h2>

            <h3 class = "padpage">Inspirational News Strory 1</h3>
            <p class = "padpage">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel pharetra sapien. Donec ut nulla metus. Vestibulum metus libero, gravida eget aliquam vulputate, ultrices at tellus. In dictum elit nec molestie maximus. Mauris hendrerit sodales dolor, quis tempor augue faucibus quis. Sed feugiat blandit eros nec posuere. Etiam euismod odio elementum gravida tristique. </p>
            <h3 class = "padpage">Inspirational News Strory 2</h3>
            <p class = "padpage">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel pharetra sapien. Donec ut nulla metus. Vestibulum metus libero, gravida eget aliquam vulputate, ultrices at tellus. In dictum elit nec molestie maximus. Mauris hendrerit sodales dolor, quis tempor augue faucibus quis. Sed feugiat blandit eros nec posuere. Etiam euismod odio elementum gravida tristique. </p>
        </div>
        </div>
    </body>
</html>