<!-- views/register.ejs -->

<!DOCTYPE html>
<html>
    <head>
         <title>Register</title>
         <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <div id = "content">
            <h1>Register</h1>
            <p>Coming Soon!</p>
        </div>
    </body>
</html>