<!-- views/about.ejs -->

<!-- original bootstrap template from W3Layouts -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>CommuniTeach </title>
        
    <!-- import css files -->
    <% include ../partials/importCSS.ejs %>
    <!-- import css files -->

</head>
<body>

<!-- banner -->
<div id="home" class="w3ls-banner"> 

    <!-- Import header & Navigation bar -->
    <% include ../partials/header.ejs %>
    <!-- Import header & Navigation bar -->

    <!-- banner-Slider -->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                    <div class="w3layouts-banner-top">
                    <div class="banner-dott">
                        <div class="container">
                            <div data-aos="fade-left" class="agileits-banner-info">
                                <!-- about bottom -->
                                        <h3>Who we are</h3>
                                        <p>Web Enterpreneurs is the brain child of Sam Wright, Rong Hui Lo and
                                    Mashrur Hyder. </p>
                                        <h3>Our Aims</h3>
                                        <p>We seek to provide a platform for teachers to share and obtain content 
                                    related to the subjects that they are teaching. We understand that there is 
                                    a lack of affordable and relevant resources available and we are working towards a
                                     solution. </p>
                                        <h3>The project</h3>
                                        <p>Our idea is a bit ambitious but it does address the problem we are trying
                                     to solve. We want to increase the availability of learning resources and tools 
                                    for students in the developing world. We are tackling this problem by creating a website
                                     that allows teachers from all over the world to communicate and share teaching content. 
                                     This is just a summary of the main idea; our site will allow users to do a lot more! 
                                     The website is still a work in progress but keep checking back in to see any
                                     and all updates! </p>
                                
                                <!-- //about bottom -->
                                </div>
                            </div>  
                        </div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- banner-Slider -->
            
 
</div>  
<!-- //banner --> 

<% include ../partials/pageTemplate.ejs %>  

</body>
</html>