<!-- views/about.ejs -->

<!DOCTYPE html>
<html>
    <head>
         <title>Coming Soon!</title>
         <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>

            <div id = "moreInfo">
            <div class = "darken">
            <h1>Who We Are</h1>
            <p>Web Enterpreneurs is the brain child of Sam Wright, Rong Hui Lo and
            Mashrur Hyder. </p>
            <br>

            <h1>Our Aims</h1>
            <p>We seek to provide a platform for teachers to share and obtain content 
            related to the subjects that they are teaching. We understand that there is 
            a lack of affordable and relevant resources available and we are working towards a
             solution.</p>
            <br>

            <h1>The project</h1>
            <p>Our idea is a bit ambitious but it does address the problem we are trying
             to solve. We want to increase the availability of learning resources and tools 
            for students in the developing world. We are tackling this problem by creating a website
             that allows teachers from all over the world to communicate and share teaching content. 
             This is just a summary of the main idea; our site will allow users to do a lot more! 
             The website is still a work in progress but keep checking back in to see any
             and all updates!</p>
            </div>
            </div>
    </body>
</html>