<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
    <head>
         <%= %>
         <title>Coming Soon!</title>
         <link href="/css/style.css" rel="stylesheet" type="text/css">
         <link href="/css/loginButton.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <script src="countdowntimer.js"></script>
        <div id = "content">
            <h1>The Web Entrepreneurs</h1>
            <p> Coming Soon!</>
            <p id="countDownTimer"></p></p>
            <a href="moreInfo.html">More information</a>
        </div>
    </body>
</html>