<!-- views/index.ejs -->

<!-- original bootstrap template from W3Layouts -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>CommuniTeach </title>
        
    <!-- import css files -->
    <% include ../partials/importCSS.ejs %>
    <!-- import css files -->

</head>
<body>

<!-- banner -->
<div id="home" class="w3ls-banner"> 

    <!-- Import header & Navigation bar -->
    <% include ../partials/header.ejs %>
    <!-- Import header & Navigation bar -->

    <!-- banner-Slider -->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                    <div class="w3layouts-banner-top">
                    <div class="banner-dott">
                        <div class="container">
                            <div data-aos="fade-left" class="agileits-banner-info">
                                <h3>Welcome to</h3>
                                <h3 class="second">CommuniTeach</h3>
                                <p>Our goal is to provide a central hub for teachers to collaborate together</p>
                                <div class="agileits_w3layouts_more menu__item">
                                    <a href="moreinfo.html" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                </div>
                            </div>  
                        </div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- banner-Slider -->
            
    <!-- To bottom button-->
    <div class="thim-click-to-bottom">
        <div class="rotate">
            <a href="/about" class="scroll">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- //To bottom button-->
 
</div>  
<!-- //banner --> 

<!-- about bottom -->
<div class="aboutbottom-grids about" id="about">
    <div class="col-md-6 aboutleft">
        <img src="images/a2.jpg" alt="" />
    </div>
    <div class="col-md-6 aboutright">
        <h3>Education is the foundation upon</h3>
        <h3> which we build our future.</h3>
        <h4>Design is so simple that's why it is so complicated</h4>
        <p>Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet
            when an unknown printer took a galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet 
            malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum. Suspendisse interdum velit vel 
            qu dapibus condimentum. Pellentesque consequat.</p>
            <div class="w3ls-button">
                <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
            </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //about bottom -->


<!-- about bottom -->
<div class="aboutbottom-grids about" id="stats">
    <div class="col-md-6 aboutright">
        <h3>Education is the foundation upon</h3>
        <h3> which we build our future.</h3>
        <h4>Design is so simple that's why it is so complicated</h4>
        <p>Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet
            when an unknown printer took a galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet 
            malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum. Suspendisse interdum velit vel 
            qu dapibus condimentum. Pellentesque consequat.</p>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid">
                <p class="counter">1049</p>
                <h3>Teachers</h3>
            </div>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
                <p class="counter">11849</p>
                <h3>Activities</h3>
            </div>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
                <p class="counter">18</p>
                <h3>Countries </h3>
            </div>
            <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 aboutleft">
        <img src="images/a3.jpg" alt="" />
    </div>
    <div class="clearfix"></div>
</div>
<!-- //about bottom -->
    
<% include ../partials/signIn.ejs %>

<% include ../partials/register.ejs %>

<% include ../partials/uploadForm.ejs %>


    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    
    <!-- /nav -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/demo1.js"></script>
    <!-- //nav -->
    <!-- cart-js -->
    <!--search-bar-->
    <script src="js/search.js"></script>
    <!--//search-bar-->
    
    <!-- stats -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->

    
    <!-- for-Testimonials -->
    <!-- required-js-files-->
    <link href="css/owl.carousel.css" rel="stylesheet">
        <script src="js/owl.carousel.js"></script>
            <script>
        $(document).ready(function() {
          $("#owl-demo").owlCarousel({
            items : 1,
            lazyLoad : true,
            autoPlay : true,
            navigation : false,
            navigationText :  false,
            pagination : true,
          });
        });
        </script>
    <!--//required-js-files-->
    <!-- //for-Testimonials -->

    <!-- /Responsive slides js -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
          // Slideshow 4
          $("#slider4").responsiveSlides({
            auto: true,
            pager:true,
            nav:false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
              $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
              $('.events').append("<li>after event fired.</li>");
            }
          });
    
        });
    </script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider3").responsiveSlides({
                auto: true,
                pager:false,
                nav:true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                  $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                  $('.events').append("<li>after event fired.</li>");
                }
              });
        
            });
        </script>
    <!-- Responsive slides js -->
 
    <script src="js/SmoothScroll.min.js"></script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){     
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
                                
            $().UItoTop({ easingType: 'easeOutQuart' });
                                
            });
    </script>
    
    <!-- move to top-js-files -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!-- //move to top-js-files -->

    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script><!-- bootstrap js file -->

</body>
</html>