<!-- views/search.ejs -->

<!-- original bootstrap template from W3Layouts -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>CommuniTeach</title>
        
    <!-- import css files -->
    <% include ../partials/importCSS.ejs %>
    <!-- import css files -->
    <style>


    .searchResults{

        background-color: #d3d3d3;
        border-radius: 10px;
        font-size: 15px;
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;


    }

    </style>

</head>
<body>

<!-- banner -->


    <!-- Import header & Navigation bar -->
    <% include ../partials/header.ejs %>
    <!-- Import header & Navigation bar -->

    <!-- banner-Slider -->



        <div class="clearfix"> </div>

    <!-- banner-Slider -->
 
<!-- //banner --> 

<% include ../partials/pageTemplate.ejs %>  
                    <div class="banner-dott">
                    <div class="clearfix"> </div>
                    <div class="searchResults">

                        <% if(user){ %>
                            <center><h1>Search term =  <%= myVar %></h1></center>
                            <%- searchResults %>
                        <% } else{ %>
                          <center><h1>Login to see search results</h1></center>
                        <% } %>


                    <!--    <center><h1>Search term =  <%= myVar %></h1></center>

                        <%- searchResults %>-->
                    </div>
                    </div>

</body>
</html>